<div class="title">
    <h2><%= t(:blog_site_title, :scope => [:politwoops, :blog]) %></h2>
    <h3><%= t(:blog_1_title, :scope => [:politwoops, :blog]) %></h3>
 		<div class="byline">

     <a class="linkUnderline" href="#"> <%= t(:blog_1_date, :scope => [:politwoops, :blog]) %></a> 

    </div>
    <p><%= t(:blog_site_content_1, :scope => [:politwoops, :blog]) %></p>
    </br>
    <p><%= t(:blog_site_content_2, :scope => [:politwoops, :blog]) %></p>
    </br>
    <p><%= t(:blog_site_content_3, :scope => [:politwoops, :blog]) %></p>
    
</div>

<% content_for :body_class do %> class="about" <% end %>


<!-- This file lives in public/404.html -->
<div class="crackBox">
        <a class="cowButton" href="/">
        	<h1 id="bubble" class="twoopsAlternateLogo textReplace"> <%= t(:site_name, :scope => [:politwoops]) %></h1>
        </a>
</div>
